*{
    margin:0;
    padding: 0;
}

:root{
    
    --amarillo: #ffc107;
    --blanco: #f8f9fa;
    --negro: #343a40;
    --verde: #28a745;
    --celeste:#007bff;
    --gris:#6c757d;
}
.panel{
    height: 1000vh;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 300;
}
.overmous{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #6c757d75;
    box-shadow: 0px 0px 6px 6px var(--gris); 
    position: absolute;
    z-index: 20;
}
.row{
    margin:0 !important;
    padding: 0 !important;
}
.border{
    box-shadow: 0px 0px 6px var(--blanco);
}
header{
    box-shadow: 0px 0px 4px var(--blanco);
}
.navbar{
    min-height: 13vh;
    height: auto;
    font-family: 'Zen Dots', cursive;
}
.navbar-brand {
    font-size:2rem;
}
.navbar-nav{
    font-size: 1.5rem;
}
.nav-item:hover{
    border-top:4px solid var(--amarillo);
    border-radius: 10px;
    animation: border-girar .1s ease;
}
@keyframes border-girar {
    0%{
        border-top:4px solid var(--amarillo);
    }
    25%{
        border-right:4px solid var(--amarillo);
    }
    50%{
        border-bottom:4px solid var(--amarillo);
    }
    100%{
        border-left:4px solid var(--amarillo);
    }
}
.main{
    position:relative;
}

.main-backgraound {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
}
.main-backgraound img {
    display:block;
    width: 100%;
    height: 100%;
    box-shadow: 0px -50px 10px rgb(0 0 0 / 90%);
}
@media (max-width: 767px){
    .main-backgraound{
        height: 100vh;
        background-image: linear-gradient(-45deg, var(--gris) 25%, var(--negro) 90%);
        top: 0;
        position:fixed;
    }

    .main-backgraound img{
        display:block;
        width: 0%;
        height: 0%;
        margin:auto;
    }
    .carousel-inner img{
        height: 400px;
    }
}
.separador{
    margin-bottom: 90vh;
}
.cont{
	width:100%;
	height:auto;
    border-radius: 10px;
	position:relative;
	top:87vh;
	background-color:white;
	z-index:10;
    box-shadow: 0px -5px 20px var(--negro);
}
.cont__block{
    margin: 140px 0;
}
.cont__block img, .main-carousel{
    display: block;
    min-height: 450px;
    height: auto;
}
.carousel-inner img{
    height: 400px;
}
.block__titulo{
    word-wrap: break-word;
    font-family: 'Zen Dots', cursive;
}
.block__parrafo{
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;   
}
.block__parrafo > ul{
    list-style:none;
}
@media (min-height: 1000px){
    .block__titulo h1{
        font-size: 2rem;
    }
    .block__parrafo {
        font-size: 1.5rem;
    }
}
@media (max-height: 650px){
    .cont__block img{
        min-height: 250px;
        height: 250px;
    }
}
@media (max-width: 767px){
    .separador{
        margin-bottom: 50vh;
    }
    .cont{
        top:0vh;
        border-radius:0;
    }
    .cont__block{
        margin: 100px 0;
    }

}
@media (max-width: 361px){
    .cont__block{
        margin: 80px 0;
    }
    .block__titulo h1{
        font-size: 1.5rem;
    }
    .block__parrafo{
        font-size: .8rem;
    }
}
#myCarousel{
    margin: auto 0 !important;
}


.cont__titulo__h1 {
    color:var(--blanco);
    border-radius: 5px 5px 25px 25px ;
    border-bottom: 5px solid var(--blanco);
    border-left: 5px solid var(--blanco);
    border-right: 5px solid var(--blanco);
    padding: 10px 0;
    font-family: 'Zen Dots', cursive;
}
.cont__video iframe{
    height: 300px;
}
@media (max-width: 461px){
    .cont__video iframe{
        height: 200px;
    }
    .cont__titulo__h1 {
        font-size: 1.7rem;
        border-radius: 0;
        border-bottom: 2px solid var(--blanco);
        border-left: 0px;
        border-right: 0px;
        padding: 5px 0;
    }
    
}
.footer{
    text-align: center;
    color: var(--celeste);
}
.cont__subtitulo{
    font-size:1.5rem;
    border-bottom: 3px solid var(--blanco);
}
.cont__subtitulo,
.aviso p,
.redes i{
    color: var(--blanco);
}
.aviso span{
    font-size:1.2rem;
}
.legal > ul{
    list-style-type: none;
}
.redes i{
    margin: 10px auto;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.redes .fa-facebook-square:hover,
.redes .fa-twitter:hover{
    color: var(--celeste);
}
.redes .fa-instagram:hover{
    color: var(--amarillo);
}

@media (max-width: 767px){
    .redes i{
        padding: 0 1rem;
    }
}
@media (max-width: 461px){
    .aviso p{
        font-size:.8rem;
    }
    .aviso span{
        font-size:1rem;
    }
    .cont__subtitulo{
    color: var(--blanco);
    font-size:1.2rem;
    border-bottom: 1px solid var(--blanco);
}

}